// Colors
$bg-color-main: rgb(255, 238, 216);
$color-green: green;
$color-white: #fefefe;
$bg-cart: rgb(147, 147, 150);

$bg-light-color: rgba(245, 245, 245, 1);
$text-light-color: rgba(40, 40, 40, 1);

$bg-dark-color: rgba(40, 40, 40, 1);
$text-dark-color: rgba(245, 245, 245, 1);
